body {
  padding-top: 100px;
}

ul, li{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li{
	line-height: 1.8em;
	
}

.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}
