<div ng-controller="Vista1Ctrl">
<div  class="alert alert-info" ng-show="msg">{{msg}}</div>
<a type="button" class="btn btn-success" ng-click="showAddForm()">Crear Cuenta</a>
<!-- <a type="button" class="btn btn-info" ng-click="showAddMovement()">Crear Movimientos</a> -->
        
          <div class="container">
          <div class="row">
            <div class="col-md-6">

            
            
          

          <!-- Registro -->

          <div ng-show="addFormShow">
            <section id="title-bar">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <h1>Registrar</h1>
                      </div>
                    </div>
                  </div>
            </section>
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                    <form  ng-submit="addFormSubmit()">

                        <div class="form-group">
                          <label>Dueño</label>
                          <input type="text" class="form-control" ng-model="name" />
                        </div>
                       <div class="form-group">
                          <label >Tipo</label>
                          <select class="form-control" ng-model="tipo.singleSelect">
                                <option value="corriente">corriente</option>
                                <option value="ahorro">ahorros</option>
                              </select>
                        </div>
                        <div class="form-group">
                          <label >Moneda</label>
                          <select class="form-control" ng-model="moneda.singleSelect">
                                <option value="₡">colones</option>
                                <option value="$">dolares</option>
                              </select>
                        </div>
<!-- adicional -->
                        <div class="hidden">
                          <div class="form-group">
                            <label>Fecha</label>
                            <input type="date" class="form-control" id="" ng-model="fecha.value" />
                          </div>
                          <div class="form-group">
                            <label >Monto</label>
                            <input type="number" class="form-control" id="" min="0" ng-model="amount" />
                          </div>
                          <div class="form-group">
                            <label >Detalle</label>
                            <textarea class="form-control" rows="2" ng-model="detail"></textarea>
                          </div>
                        
                        </div>
                        
                        <input type="submit" class="btn btn-default" value="Crear Cuenta" />
                      </form>
                </div>
              </div>
            </div>

            
          </div>
          <!-- End of Registro -->
          </div>
          <div class="col-md-6" ng-show="editFormShow">
         

                        <form ng-submit="editFormSubmit()">
                            <h3>Edit Account</h3>
                            <!-- Add Form -->

                            <div class="form-group">
                          <label>Dueño</label>
                          <input type="text" class="form-control" ng-model="name" />
                        </div>
                       <div class="form-group">
                          <label >Tipo</label>
                          <select class="form-control" ng-model="tipo.singleSelect">
                                <option value="corriente">corriente</option>
                                <option value="ahorro">ahorros</option>
                              </select>
                        </div>
                        <div class="form-group">
                          <label >Moneda</label>
                          <select class="form-control" ng-model="moneda.singleSelect">
                                <option value="₡">colones</option>
                                <option value="$">dolares</option>
                              </select>
                        </div>
<!-- adicional -->
                        
                          <div class="form-group">
                            <label>Fecha</label>
                            <input type="date" class="form-control" id="" ng-model="fecha" />
                          </div>
                          <div class="form-group">
                            <label >Monto</label>
                            <input type="number" class="form-control" id="" min="0" ng-model="amount" />
                          </div>
                          <div class="form-group">
                            <label >Detalle</label>
                            <textarea class="form-control" rows="2" ng-model="detail"></textarea>
                          </div>
                        
                       
                            
                          


                           <div class="row">
                              <div class="large-12 columns">
                                  <input type="submit" value="Update Account" class="btn btn-default" />
                              </div>
                           </div>
                        </form> 



          

          <!-- Editar Registro y Movimiento -->
          <!-- <div ng-show="addMovementShow">
           
            <section id="title-bar">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <h1>Movimientos Nuevos</h1>
                      </div>
                    </div>
                  </div>
            </section>  


            <div class="container">
              <div class="row"> 
                <div class="col-md-4">   
                    <form ng-submit="addMovementSubmit()">
                      <div class="form-group">
                        <label>Fecha</label>
                        <input type="date" class="form-control" id="" ng-model="dia" />
                      </div>
                      <div class="form-group">
                        <label >Monto</label>
                        <input type="number" class="form-control" id="" min="0" ng-model="amount" />
                      </div>
                      <div class="form-group">
                        <label >Detalle</label>
                        <textarea class="form-control" rows="2" ng-model="detail"></textarea>
                      </div>
                      
                      <input type="submit" class="btn btn-default" value="Agregar" />
                    </form>
                  </div>
                </div> 
            </div>


           
          </div> -->
          <!-- End of Editar y Agregar Movimiento -->
          </div>

          </div>
          </div>



          <!-- Registro/Lista de Cuentas -->
          <div>
          <section id="title-bar">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <h1>Lista de Cuentas || Total: {{account.length}}</h1>
              

                    </div>
                  </div>
                </div>
          </section>
          
          <table class="table table-striped">

            <thead>
              <tr >
                <th><button ng-click="order('name')">Clientes</button>
          <span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span></th>
                <th><button ng-click="order('name')">Tipo de Cuenta</button>
          <span class="sortorder" ng-show="predicate === 'tipo'" ng-class="{reverse:reverse}"></span></th>
                <th><button ng-click="order('moneda')">Tipo de Cuenta</button>
          <span class="sortorder" ng-show="predicate === 'moneda'" ng-class="{reverse:reverse}"></span></th>
                <th>Acciones</th>
                
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="accounts in account | orderBy:predicate:reverse">
                <td><a ng-click="showAccount(accounts)" class="btn btn-link">{{accounts.name}} </a></td>
                <td>{{accounts.tipo.singleSelect}}</td>
                <td>{{accounts.moneda.singleSelect}}</td>
                <td>
                  <a   class="btn btn-warning btn-xs" ng-click="showEditForm(accounts)">Editar </a> 
                 <!--  ng-click="showEditForm(accounts)" -->
                  <a ng-click="removeAccount(accounts)" class="btn btn-danger btn-xs">Remover</a>
                  
                </td>
              </tr>
            </tbody>
          </table>


          </div>
          <!-- End of Lista de Cuentas -->

<!-- ///////////////////////////// -->


 <!-- Resumen -->
 <!-- Show Account Detail -->
<div  ng-show="accountShow">
  

        <div class="container">
            <section id="title-bar">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <h1>Bienvenido(a) {{name}}</h1>
                        <p>Está es la informacion general de su cuenta</p>
                      </div>
                    </div>
                  </div>
            </section>  
            
            <div class="panel-group">
            <a class="btn btn-default pull-right"  ng-show="accountShow">Esconder</a>
                <div class="panel panel-default">
                  <div class="panel-heading">General </div>
                  <div class="panel-body">
                    <ul>
                      <li><strong>Nombre: </strong>{{name}}</li>
                      <li><strong>Tipo: </strong>{{tipo}}</li>
                      <li><strong>Moneda: </strong>{{moneda}}</li>
                      
                    </ul> 


                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">Transacciones</div>
                  <div class="panel-body">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Fecha</th>
                          <th>Detalle</th>
                          <th>Monto</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr >
                          <td>{{fecha | date}}</td>
                          <td>{{detail}}</td>
                          <td>{{amount}}</td>
                          <td><a ng-click="showEditForm()">Ver</a></td>
                        </tr>
                        <!-- <tr>
                          <td>06/11/18</td>
                          <td>Cena en La Aurora</td>
                          <td>$6000</td>
                          <td><a ng-click="showEditForm(account)">Editar</a> <a ng-click="removeAccount(account)">Remover</a></td>
                        </tr> -->
                      </tbody>
                    </table>


                  </div>
                </div>
                



            
          </div>
          <!-- End of Resumen -->



          <!-- Detalle de Transacciones -->
          <!-- <div>
            

          <section id="title-bar">
                <div class="container">
                  <div class="row">
                    <div class="col-md-8">
                      <h1>Detalle de Transacción</h1>
                      <p>A continuación el detalle de su transacción efectuada 02/15/16.</p>

                    </div>
                  </div>
                </div>
          </section>  

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Transacción #</th>
                <th>Fecha</th>
                <th>Detalle</th>
                <th>Monto</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{account.transaction}}</td>
                <td>02/04/19</td>
                <td>Compras Super</td>
                <td>$150</td>
                <td><a href="" title="">Editar</a> | <a href="">Eliminar</a></td>
              </tr>
            </tbody>
          </table>
          <br>
          <br>
          <section id="title-bar">
                <div class="container">
                  <div class="row">
                    <div class="col-md-8">
                      <h1>Editar Transacción</h1>
                      

                    </div>
                  </div>
                </div>
          </section> 

          </div> -->
          
</div>   
<!-- End of Detalle de transacciones -->












</div> <!-- End of Vista1Ctrl -->



  
    

    
    

